<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	
		<title>Lista de Docs</title>
		
		<meta charset="UTF-8"  name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
	
		<!-- JavaScript -->
		<script th:src="@{/js/jquery-2.1.4.min.js}"></script>
		<script th:src="@{/js/bootstrap.min.js}"></script>
		<script th:src="@{/js/listadelacompra.js}"></script>
		
		
		<!-- CSS -->
		<link th:href="@{/css/listadelacompra.css}" rel="stylesheet" />
		<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
	</head>
	<body>
		<div class="contenido">
			<header>
				<h2>Lista de la Compra</h2>
			</header>
			<table class="table table-hover tablaProductos">
				<thead>
					<tr>
						<th>Producto</th>
						<th>Cantidad</th>
						<th></th>
					</tr>
				</thead>
	
				<tbody>
					<tr th:each="producto : ${productos}">
						<td th:text="${producto.producto}"></td>
						<td th:text="${producto.cantidad}"></td>
						<td>
							<a href="#" th:href="@{/nuevopro/eliminaproducto?id=__${producto.id}__}">
								<button type="button" class="btn btn-danger">
									<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
								</button>
							</a>
						</td>
					</tr>
				</tbody>

			</table>
		</div>
		<footer>
			<a href="#" th:href="@{/nuevopro/nuevo?id=0}">
				<button class="btn btn-primary" type="submit">
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
					Add producto
				</button>
			</a>
		</footer>
	</body>
</html>