<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1" />
		<title>Lista de la Compra</title>
		
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
		
		<!-- JavaScript -->
		<script th:src="@{/js/jquery-2.1.4.min.js}"></script>
		<script th:src="@{/js/bootstrap.min.js}"></script>
		<script th:src="@{/js/listadelacompra.js}"></script>
		
		
		<!-- CSS -->
		<link th:href="@{/css/listadelacompra.css}" rel="stylesheet"/>
		<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
	</head>
	<body>
		<h1>Listado de Documentos</h1>
		No te olvides del documento
	</body>
</html>